@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=GFS+Didot&display=swap");
*{
   margin:  0;
   padding: 0;
   border: 0;
}

  body {
     background-color: #6D00AE;
     color: white;
     
   }
   header {
       padding: 32px;
       border-bottom: 1px solid #000000; 
       background-color: rgba(0, 0,0,0.1);
   }
   header div {
       text-align: center; 
   }
   header div a {
         color: rgb(255, 255, 255); 
         font-size: 20px; 
         line-height: 30px; 
         margin:  16px; 
         text-decoration: none; 
         font-family: 'Roboto', sans-serif; 
   }
header div a:hover { 
   color: black; 
   transition: color 700ms; 
}

#box {
   text-align: center; 
   padding: 32px; 
   font-family: 'Roboto', sans-serif; 
}

#box img {
   border-radius: 50%;  
   margin-bottom: 32px; 
   
}

#box h1 {
   font-size: 42px; 
   line-height: 52px; 
   font-weight: bold; 
}
#box h2 {
   font-size: 24px;
   line-height: 34px; 
   font-weight: normal;  
   margin-top: 8px; 
   opacity: 0.8;  
}  

#box p {
   max-width: 500px;  
   margin: 32px auto; 
   font-size: 24px;  
   line-height: 34px; 
}

a{
    text-decoration: none;
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
